/* Coolors Exported Palette - coolors.co/d62828-221e22-000000-fffffc-dddcd9 */

/* HSL */
$color1: hsla(0%, 69%, 50%, 1);
$color2: hsla(300%, 6%, 13%, 1);
$color3: hsla(0%, 0%, 0%, 1);
$color4: hsla(60%, 100%, 99%, 1);
$color5: hsla(45%, 6%, 86%, 1);

/* RGB */
$color1: rgba(214, 40, 40, 1);
$color2: rgba(34, 30, 34, 1);
$color3: rgba(0, 0, 0, 1);
$color4: rgba(255, 255, 252, 1);
$color5: rgba(221, 220, 217, 1);