

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');


body{
    background: #D62828;
}

p,a,h3{
    color: #FFFFFC;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

form{
    padding: 0 !important;
}

.main{
    margin:75px auto;
}

.main p{
    font-size: 1.5em;
    text-align: justify;
}

.iphone{
    max-height: 600px;
    max-width: 100%;
    height: auto;
}

.logo{
    max-width: 100%;
}

.download-row{
    margin-top:20px;
}

.download-app-store{
    max-width: 100%;
}

footer,footer a{
    text-decoration: none;
    color: #FFFFFC !important;
}

footer p {
    float: left;
    position: relative;
}

footer .right{
    float: right;
    position: relative
}

#mc_embed_signup{
    background: none !important;
}




